@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;700&family=Mukta:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;700&family=Mukta:wght@300;400;500;700&display=swap");
/* CSS Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

a:hover, a:active, button:active {
  -webkit-tap-highlight-color: transparent;
  color: #6E3CBC;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Mukta", Helvetica, sans-serif;
  font-size: 16px;
  color: #1E212D;
  line-height: 1.4;
  background-color: #F6F6F6;
}

.container {
  margin: 0 13%;
  height: auto;
}

.navbar {
  position: absolute;
  width: 100%;
  transition: all 0.7s ease;
}
.navbar .container {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s ease;
  background-color: none;
}
.navbar .container .navbar-brand {
  color: #F9F9F9;
  text-decoration: none;
  font-size: 20px;
  font-family: "Maven Pro", sans-serif;
  font-weight: 700;
}
.navbar .container .btn-toggle {
  display: none;
  user-select: none;
  opacity: 0;
}
.navbar .container ul li {
  display: inline-block;
}
.navbar .container ul li a {
  color: #F9F9F9;
  text-decoration: none;
  margin-right: 50px;
  font-weight: 500;
}

.navbar-fixed {
  overflow: hidden;
  position: fixed;
  background-color: #6E3CBC;
  transition: all 0.7s ease;
  z-index: 9999;
}
.navbar-fixed .container {
  height: 60px;
  transition: all 0.7s ease;
}
.navbar-fixed .container ul li .active {
  background-color: #7267CB;
  padding: 80px 25px;
}

.jumbotron {
  background-image: url("../img/jumbotron.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.jumbotron .container h1 {
  color: #F9F9F9;
  font-family: "Maven Pro", sans-serif;
  font-size: 40px;
  font-weight: 700;
  padding-top: 200px;
}
.jumbotron .container p {
  margin-top: 25px;
  color: #F9F9F9;
  width: 350px;
}
.jumbotron .container .links a:first-child {
  color: #F9F9F9;
  background-color: #6E3CBC;
  border-radius: 5px;
  display: inline-block;
  padding-top: 15px;
  padding-right: 45px;
  padding-bottom: 15px;
  padding-left: 45px;
  margin-top: 20px;
  margin-right: 8px;
  margin-bottom: 0;
  margin-left: 0;
  text-decoration: none;
  box-shadow: 0 8px 15px rgba(30, 33, 45, 0.1);
  transition: all 0.3s ease;
  font-weight: 500;
}
.jumbotron .container .links a:last-child {
  color: #6E3CBC;
  background-color: #F9F9F9;
  border-radius: 5px;
  display: inline-block;
  padding-top: 14px;
  padding-right: 40px;
  padding-bottom: 14px;
  padding-left: 40px;
  margin-top: 20px;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  text-decoration: none;
  box-shadow: 0 8px 15px rgba(30, 33, 45, 0.1);
  transition: all 0.3s ease;
  font-weight: 500;
}
.jumbotron .container .links a:hover, .jumbotron .container .links a:active {
  box-shadow: none;
}
.jumbotron .container .medsos {
  margin-top: 35px;
}
.jumbotron .container .medsos a {
  color: #F9F9F9;
  text-decoration: none;
  font-weight: 500;
  margin-right: 15px;
}

.about .container {
  padding-top: 100px;
}
.about .container .row {
  display: flex;
}
.about .container .row .col-img {
  margin-right: 30px;
}
.about .container .row .col-img .img-about {
  width: 330px;
  height: 500px;
  border-radius: 5px;
  background-image: url("/assets/img/me.jpg");
  background-size: cover;
}
.about .container .row .col h1, .about .container .row .col h3, .about .container .row .col span {
  font-family: "Maven Pro", sans-serif;
}
.about .container .row .col h1, .about .container .row .col h3 {
  color: #1E212D;
}
.about .container .row .col h1 {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 25px;
}
.about .container .row .col p {
  color: #666666;
  margin-bottom: 20px;
}
.about .container .row .col .tabs {
  margin-bottom: 35px;
}
.about .container .row .col .tabs .tab-link {
  color: #666666;
  background-color: #F9F9F9;
  border-radius: 5px;
  display: inline-block;
  padding-top: 9px;
  padding-right: 22px;
  padding-bottom: 9px;
  padding-left: 22px;
  margin-top: 0;
  margin-right: 8px;
  margin-bottom: 0;
  margin-left: 0;
  text-decoration: none;
}
.about .container .row .col .tabs .tab-link.active {
  background-color: #7267CB;
  color: #F9F9F9;
}
.about .container .row .col .content.aboutme .motto {
  color: #666666;
  font-size: 14px;
  font-style: italic;
  font-weight: 500;
  text-align: center;
}
.about .container .row .col .content.skills {
  display: none;
  width: 100%;
}
.about .container .row .col .content.skills .row {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 20px 0;
}
.about .container .row .col .content.skills .row .bar {
  margin-right: 20px;
  margin-bottom: 25px;
  position: relative;
  overflow: hidden;
}
.about .container .row .col .content.skills .row .bar h3 {
  font-family: "Maven Pro", sans-serif;
  font-size: 16px;
  font-weight: 700;
}
.about .container .row .col .content.skills .row .bar span {
  color: #7267CB;
  font-size: 16px;
  position: absolute;
  right: 0;
  top: -28px;
  opacity: 0;
  animation: fade 2s cubic-bezier(1, 0, 0.5, 1) forwards;
}
.about .container .row .col .content.skills .row .bar .progress {
  width: 190px;
  height: 5px;
  background-color: #CCCCCC;
  margin-top: 5px;
  border-radius: 10px;
}
.about .container .row .col .content.skills .row .bar .progress-bar.html {
  width: 95%;
  height: 5px;
  background-color: #7267CB;
  margin-top: 5px;
  border-radius: 10px;
}
.about .container .row .col .content.skills .row .bar .progress-bar.javascript,
.about .container .row .col .content.skills .row .bar .progress-bar.cpp,
.about .container .row .col .content.skills .row .bar .progress-bar.nodejs,
.about .container .row .col .content.skills .row .bar .progress-bar.sass,
.about .container .row .col .content.skills .row .bar .progress-bar.codeigniter {
  width: 80%;
  height: 5px;
  background-color: #7267CB;
  margin-top: 5px;
  border-radius: 10px;
}
.about .container .row .col .content.skills .row .bar .progress-bar.php,
.about .container .row .col .content.skills .row .bar .progress-bar.mysql {
  width: 85%;
  height: 5px;
  background-color: #7267CB;
  margin-top: 5px;
  border-radius: 10px;
}
.about .container .row .col .content.skills .row .bar .progress-bar.html,
.about .container .row .col .content.skills .row .bar .progress-bar.javascript,
.about .container .row .col .content.skills .row .bar .progress-bar.cpp,
.about .container .row .col .content.skills .row .bar .progress-bar.nodejs,
.about .container .row .col .content.skills .row .bar .progress-bar.sass,
.about .container .row .col .content.skills .row .bar .progress-bar.codeigniter,
.about .container .row .col .content.skills .row .bar .progress-bar.php,
.about .container .row .col .content.skills .row .bar .progress-bar.mysql {
  animation: fill-progress 1s cubic-bezier(1, 0, 0.5, 1) forwards;
  position: relative;
  left: -190px;
}
@keyframes fill-progress {
  100% {
    left: 0;
    position: none;
  }
}
@keyframes fade {
  100% {
    opacity: 1;
  }
}
.about .container .row .col .content.experience {
  display: none;
}
.about .container .row .col .content.experience h3 {
  font-family: "Maven Pro", sans-serif;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 4px;
}
.about .container .row .col .content.experience .date, .about .container .row .col .content.experience .position {
  font-family: "Mukta", Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 500;
}
.about .container .row .col .content.experience .date {
  margin-right: 6px;
  color: #7267CB;
}
.about .container .row .col .content.experience .position {
  color: #666666;
}
.about .container .row .col .content.experience p {
  margin-top: 8px;
}

.services .container {
  padding-top: 100px;
}
.services .container .subheading, .services .container h2 {
  font-family: "Maven Pro", sans-serif;
  font-weight: 700;
  text-align: center;
}
.services .container .subheading {
  display: block;
  color: #7267CB;
  font-size: 16px;
  margin-bottom: 8px;
  text-transform: uppercase;
}
.services .container h2 {
  display: block;
  color: #1E212D;
  font-size: 32px;
  width: 560px;
  margin: 0 auto;
}
.services .container .g-wrapper {
  margin-top: 60px;
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 1em;
}
.services .container .g-wrapper .web,
.services .container .g-wrapper .linux,
.services .container .g-wrapper .networking {
  background-color: #FAFAFA;
  width: 75%;
  height: auto;
  padding: 40px;
}
.services .container .g-wrapper .web .icons,
.services .container .g-wrapper .linux .icons,
.services .container .g-wrapper .networking .icons {
  background-color: #7267CB;
  width: 45px;
  height: 45px;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.services .container .g-wrapper .web .icons .fas,
.services .container .g-wrapper .web .icons .fab,
.services .container .g-wrapper .linux .icons .fas,
.services .container .g-wrapper .linux .icons .fab,
.services .container .g-wrapper .networking .icons .fas,
.services .container .g-wrapper .networking .icons .fab {
  font-size: 20px;
  color: #F9F9F9;
}
.services .container .g-wrapper .web h3,
.services .container .g-wrapper .linux h3,
.services .container .g-wrapper .networking h3 {
  font-family: "Maven Pro", sans-serif;
  color: #7267CB;
  font-size: 20px;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 16px;
}
.services .container .g-wrapper .web p,
.services .container .g-wrapper .linux p,
.services .container .g-wrapper .networking p {
  color: #666666;
  height: 200px;
}
.services .container .g-wrapper .web a,
.services .container .g-wrapper .linux a,
.services .container .g-wrapper .networking a {
  color: #7267CB;
  text-decoration: none;
  display: inline-block;
  display: none;
}
.services .container .g-wrapper .web a span,
.services .container .g-wrapper .linux a span,
.services .container .g-wrapper .networking a span {
  margin-left: 5px;
}
.services .container .contact-me {
  color: #666666;
  font-weight: 700;
  font-size: 16px;
  display: block;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 12px;
}
.services .container .contact-me a {
  color: #7267CB;
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
}
.services .container .tagline {
  color: #666666;
  text-align: center;
}

.counter {
  margin-top: 100px;
  background-image: url("/assets/img/overlay.jpg");
  background-size: cover;
  height: 250px;
}
.counter .overlay {
  background-color: #7267CB;
  height: 250px;
  opacity: 0.9;
}
.counter .overlay .container {
  margin: 0;
  width: 100%;
  height: 250px;
}
.counter .overlay .container .count-wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 250px;
}
.counter .overlay .container .count-wrapper .count {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.counter .overlay .container .count-wrapper .count .fas {
  color: #F9F9F9;
  font-size: 38px;
  margin-right: 15px;
  float: left;
}
.counter .overlay .container .count-wrapper .count .countup,
.counter .overlay .container .count-wrapper .count .caption {
  flex-direction: column;
  font-family: "Maven Pro", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #F9F9F9;
}
.counter .overlay .container .count-wrapper .count .countup {
  font-size: 34px;
}

.portfolio .container {
  padding-top: 100px;
}
.portfolio .container .subheading, .portfolio .container h2 {
  font-family: "Maven Pro", sans-serif;
  font-weight: 700;
  text-align: center;
}
.portfolio .container .subheading {
  display: block;
  color: #7267CB;
  margin-bottom: 8px;
  text-transform: uppercase;
}
.portfolio .container h2 {
  color: #1E212D;
  font-size: 32px;
  margin-bottom: 40px;
}
.portfolio .container .g-wrapper {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 1em;
}
.portfolio .container .g-wrapper .projects {
  background-size: cover;
  border-radius: 5px;
  width: 100%;
  height: 350px;
  border-radius: 5px;
}
.portfolio .container .g-wrapper .projects .overlay {
  width: 100%;
  height: 350px;
  border-radius: 5px;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: all 0.3s ease;
}
.portfolio .container .g-wrapper .projects .overlay h3, .portfolio .container .g-wrapper .projects .overlay .type {
  font-family: "Maven Pro", sans-serif;
  font-weight: 500;
  color: #F9F9F9;
  opacity: 1;
}
.portfolio .container .g-wrapper .projects .overlay h3 {
  font-size: 20px;
  margin-bottom: 12px;
}
.portfolio .container .g-wrapper .projects .overlay .type {
  text-transform: uppercase;
}
.portfolio .container .g-wrapper .projects .overlay .links-wrapper {
  margin-top: 30px;
}
.portfolio .container .g-wrapper .projects .overlay .links-wrapper .row {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.portfolio .container .g-wrapper .projects .overlay .links-wrapper .row .col .btn-demo {
  color: #F9F9F9;
  background-color: #6E3CBC;
  border-radius: 3px;
  display: inline-block;
  padding-top: 4px;
  padding-right: 14px;
  padding-bottom: 4px;
  padding-left: 14px;
  margin-top: 0;
  margin-right: 12px;
  margin-bottom: 0;
  margin-left: 0;
  text-decoration: none;
  box-shadow: 0 8px 15px rgba(30, 33, 45, 0.1);
  transition: all 0.3s ease;
}
.portfolio .container .g-wrapper .projects .overlay .links-wrapper .row .col .btn-repo {
  color: #6E3CBC;
  background-color: #F9F9F9;
  border-radius: 3px;
  display: inline-block;
  padding-top: 4px;
  padding-right: 14px;
  padding-bottom: 4px;
  padding-left: 14px;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  text-decoration: none;
  box-shadow: 0 8px 15px rgba(30, 33, 45, 0.1);
  transition: all 0.3s ease;
}
.portfolio .container .g-wrapper .projects .overlay .links-wrapper .row .col .btn-demo:hover,
.portfolio .container .g-wrapper .projects .overlay .links-wrapper .row .col .btn-repo:hover,
.portfolio .container .g-wrapper .projects .overlay .links-wrapper .row .col .btn-demo:active,
.portfolio .container .g-wrapper .projects .overlay .links-wrapper .row .col .btn-repo:active {
  box-shadow: none;
  transition: all 0.3s ease;
}
.portfolio .container .g-wrapper .projects:hover .overlay,
.portfolio .container .g-wrapper .projects:active .overlay {
  opacity: 1;
  background-color: rgba(114, 103, 203, 0.9);
  transition: all 0.3s ease;
}

.blog .container {
  padding-top: 100px;
}
.blog .container .subheading, .blog .container h2 {
  font-family: "Maven Pro", sans-serif;
  font-weight: 700;
  text-align: center;
}
.blog .container .subheading {
  display: block;
  color: #7267CB;
  margin-bottom: 8px;
  text-transform: uppercase;
}
.blog .container h2 {
  color: #1E212D;
  font-size: 32px;
  margin-bottom: 40px;
}
.blog .container .g-wrapper {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 1em;
}
.blog .container .g-wrapper .posts-card {
  border-radius: 5px;
  background-color: #F9F9F9;
  padding: 20px;
  width: 90%;
  height: auto;
  box-shadow: 0 5px 15px rgba(30, 33, 45, 0.1);
}
.blog .container .g-wrapper .posts-card img {
  width: 100%;
  border-radius: 5px;
  margin-bottom: 12px;
}
.blog .container .g-wrapper .posts-card .details {
  color: #666666;
  font-size: 14px;
  font-weight: 700;
  display: flex;
}
.blog .container .g-wrapper .posts-card .details .fas {
  color: #7267CB;
}
.blog .container .g-wrapper .posts-card .details .date {
  margin-right: 8px;
}
.blog .container .g-wrapper .posts-card .blog-title {
  color: #1E212D;
  text-decoration: none;
  display: inline-block;
  font-weight: 700;
  margin-top: 3px;
  margin-bottom: 12px;
}
.blog .container .g-wrapper .posts-card p {
  color: #666666;
  margin-bottom: 15px;
}

.contact .container {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  padding-top: 150px;
  border: 1px solid orange;
}
.contact .container .g-map {
  width: 50%;
  height: 600px;
  background-color: red;
}
.contact .container .form-contact {
  width: 50%;
  padding: 20px;
}
.contact .container .form-contact h3 {
  font-family: "Maven Pro", sans-serif;
  font-size: 30px;
  font-weight: 500;
}
.contact .container .form-contact p {
  color: #666666;
  margin: 8px 0;
}
.contact .container .form-contact .contact-details {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}
.contact .container .form-contact .contact-details .address,
.contact .container .form-contact .contact-details .email,
.contact .container .form-contact .contact-details .username {
  margin-right: 16px;
}
.contact .container .form-contact .contact-details .address .title,
.contact .container .form-contact .contact-details .email .title,
.contact .container .form-contact .contact-details .username .title {
  font-weight: 700;
  text-transform: uppercase;
}
.contact .container .form-contact .form-wrapper {
  border: 1px solid red;
}
.contact .container .form-contact .form-wrapper input, .contact .container .form-contact .form-wrapper textarea {
  font-family: "Mukta", Helvetica, sans-serif;
  font-size: 0.9rem;
  color: #1E212D;
  background: none;
  outline: none;
  border: 2px solid rgba(102, 102, 102, 0.3);
  background-color: #F9F9F9;
  padding: 5px;
  display: block;
  width: 100%;
  margin: 5px 0;
  border-radius: 3px;
  transition: all 0.2s ease-out;
}
.contact .container .form-contact .form-wrapper textarea {
  margin: 10px 0;
  height: 160px;
  resize: none;
}
.contact .container .form-contact .form-wrapper input:focus,
.contact .container .form-contact .form-wrapper textarea:focus {
  transition: all 0.2s ease-out;
  border: 2px solid #7267cb;
}
.contact .container .form-contact .form-wrapper .form-flex .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contact .container .form-contact .form-wrapper .form-flex .row .col {
  width: 50%;
}
.contact .container .form-contact .form-wrapper .form-flex .row .col input {
  display: block;
  width: auto;
}
.contact .container .form-contact .form-wrapper .form-flex .row .col:not(:last-child) {
  margin-right: 2em;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 640px) {
  .container {
    margin: 0 3%;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
  }
  .navbar .container {
    overflow: hidden;
    display: inline-block;
    margin: 0;
    padding: 0 10px;
    width: 100%;
    height: 40px;
    background-color: #6E3CBC;
    animation: none;
  }
  .navbar .container .navbar-brand {
    line-height: 40px;
    transition: all 0.7s ease;
  }
  .navbar .container .btn-toggle {
    outline: none;
    background: none;
    border: none;
    display: block;
    opacity: 1;
    color: #F9F9F9;
    font-size: 16px;
    float: right;
    line-height: 40px;
    user-select: none;
    cursor: pointer;
    transition: all 0.7s ease;
  }
  .navbar .container .btn-toggle .fas {
    margin-right: 3px;
  }
  .navbar .container ul {
    position: absolute;
    transition: all 0.7s ease;
    top: 60px;
  }
  .navbar .container ul li {
    display: inline-block;
    padding-bottom: 1rem;
    padding-left: 10px;
    padding-right: 10px;
    width: 95%;
  }
  .navbar .container ul li a {
    display: block;
    width: 100%;
    user-select: none;
    background: none;
  }

  .navbar.collapse {
    overflow: hidden;
    transition: all 0.7s ease;
  }
  .navbar.collapse .container {
    transition: all 0.7s ease;
  }

  .navbar.expand {
    overflow: hidden;
    transition: all 0.7s ease;
  }
  .navbar.expand .container {
    transition: all 0.7s ease;
    height: 300px;
  }

  .navbar-fixed .container {
    height: 60px;
  }
  .navbar-fixed .container .navbar-brand, .navbar-fixed .container .btn-toggle {
    line-height: 60px;
    transition: all 0.7s ease;
  }
  .navbar-fixed .container ul {
    top: 65px;
    transition: all 0.7s ease;
  }

  .jumbotron .container h1 {
    padding-top: 100px;
    font-size: 34px;
  }
  .jumbotron .container p {
    width: 100%;
  }
  .jumbotron .container .links {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .jumbotron .container .links a {
    text-align: center;
    width: 72%;
    padding-right: 80px;
  }
  .jumbotron .container .links a:first-child {
    margin-left: 8px;
  }
  .jumbotron .container .links a:last-child {
    margin-top: 10px;
    padding-right: 50px;
  }

  .about .container .row {
    flex-direction: column;
  }
  .about .container .row .col-img {
    margin-right: 0;
    margin-bottom: 35px;
  }
  .about .container .row .col-img .img-about {
    margin: 0 auto;
  }
  .about .container .row .col {
    display: block;
    width: 100%;
  }
  .about .container .row .col .content.skills {
    max-width: 100%;
  }
  .about .container .row .col .content.skills .row {
    display: block;
    width: 100%;
  }
  .about .container .row .col .content.skills .row .bar {
    width: 100%;
    position: relative;
  }
  .about .container .row .col .content.skills .row .bar .progress {
    width: 100%;
  }
  .about .container .row .col .content.skills .row .bar .progress-bar.html,
.about .container .row .col .content.skills .row .bar .progress-bar.javascript,
.about .container .row .col .content.skills .row .bar .progress-bar.cpp,
.about .container .row .col .content.skills .row .bar .progress-bar.nodejs,
.about .container .row .col .content.skills .row .bar .progress-bar.sass,
.about .container .row .col .content.skills .row .bar .progress-bar.codeigniter,
.about .container .row .col .content.skills .row .bar .progress-bar.php,
.about .container .row .col .content.skills .row .bar .progress-bar.mysql {
    left: -600px;
  }

  .services .container h2 {
    width: auto;
  }
  .services .container .g-wrapper {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
  }
  .services .container .g-wrapper .web,
.services .container .g-wrapper .linux,
.services .container .g-wrapper .networking {
    width: auto;
    margin: auto;
  }

  .counter {
    height: 450px;
  }
  .counter .overlay {
    height: 450px;
  }
  .counter .overlay .container {
    height: 450px;
  }
  .counter .overlay .container .count-wrapper {
    flex-direction: column;
    height: 450px;
  }
  .counter .overlay .container .count-wrapper .count .fas {
    font-size: 32px;
  }
  .counter .overlay .container .count-wrapper .count .countup {
    font-size: 28px;
  }

  .portfolio .container .g-wrapper {
    grid-template-columns: auto;
  }
  .portfolio .container .g-wrapper .projects {
    margin-bottom: 0.8em;
  }
  .portfolio .container .g-wrapper .projects .overlay {
    opacity: 1;
  }
  .portfolio .container .g-wrapper .projects .overlay h3,
.portfolio .container .g-wrapper .projects .overlay .type {
    text-shadow: 1px 1px 1px #666666;
  }

  .blog .container .g-wrapper {
    grid-template-columns: auto;
  }
  .blog .container .g-wrapper .posts-card {
    width: auto;
    transition: all 0.7s ease;
  }
  .blog .container .g-wrapper .posts-card.collapse {
    overflow: hidden;
    height: 245px;
    transition: all 0.7s ease;
  }
  .blog .container .g-wrapper .posts-card.collapse p {
    overflow: hidden;
    visibility: collapse;
    transition: all 0.7s ease;
  }
  .blog .container .g-wrapper .posts-card.show {
    height: 430px;
    overflow: hidden;
    transition: all 0.7s ease;
  }
  .blog .container .g-wrapper .posts-card.show p {
    overflow: hidden;
    visibility: visible;
    transition: all 0.7s ease;
  }
}
/* Small mobile landscape */
@media only screen and (min-width: 640px) and (max-width: 640px) {
  .blog .container .g-wrapper {
    grid-template-columns: auto;
  }
  .blog .container .g-wrapper .posts-card {
    width: auto;
    transition: all 0.7s ease;
  }
  .blog .container .g-wrapper .posts-card.collapse {
    overflow: hidden;
    height: 315px;
    transition: all 0.7s ease;
  }
  .blog .container .g-wrapper .posts-card.collapse p {
    overflow: hidden;
    visibility: collapse;
    transition: all 0.7s ease;
  }
  .blog .container .g-wrapper .posts-card.show {
    height: 490px;
    overflow: hidden;
    transition: all 0.7s ease;
  }
  .blog .container .g-wrapper .posts-card.show p {
    overflow: hidden;
    visibility: visible;
    transition: all 0.7s ease;
  }
}
/* large devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 641px) and (max-width: 1024px) {
  .container {
    margin: 0 5%;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
  }
  .navbar .container {
    overflow: hidden;
    display: inline-block;
    margin: 0;
    padding: 0 10px;
    width: 100%;
    height: 40px;
    background-color: #6E3CBC;
    animation: none;
  }
  .navbar .container .navbar-brand {
    line-height: 40px;
    transition: all 0.7s ease;
  }
  .navbar .container .btn-toggle {
    outline: none;
    background: none;
    border: none;
    display: block;
    opacity: 1;
    color: #F9F9F9;
    font-size: 16px;
    float: right;
    line-height: 40px;
    user-select: none;
    cursor: pointer;
    transition: all 0.7s ease;
  }
  .navbar .container .btn-toggle .fas {
    margin-right: 3px;
  }
  .navbar .container ul {
    position: absolute;
    transition: all 0.7s ease;
    top: 60px;
  }
  .navbar .container ul li {
    display: inline-block;
    padding-bottom: 1rem;
    padding-left: 10px;
    padding-right: 10px;
    width: 95%;
  }
  .navbar .container ul li a {
    display: block;
    width: 100%;
    user-select: none;
    background: none;
  }

  .navbar.collapse {
    overflow: hidden;
    transition: all 0.7s ease;
  }
  .navbar.collapse .container {
    transition: all 0.7s ease;
  }

  .navbar.expand {
    overflow: hidden;
    transition: all 0.7s ease;
  }
  .navbar.expand .container {
    transition: all 0.7s ease;
    height: 300px;
  }

  .navbar-fixed .container {
    height: 60px;
  }
  .navbar-fixed .container .navbar-brand, .navbar-fixed .container .btn-toggle {
    line-height: 60px;
    transition: all 0.7s ease;
  }
  .navbar-fixed .container ul {
    top: 65px;
    transition: all 0.7s ease;
  }

  .about .container .row .col-img {
    margin-right: 20px;
  }
  .about .container .row .col .content.skills p {
    width: 80%;
  }
  .about .container .row .col .content.skills .row {
    display: block;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .about .container .row .col .content.skills .row .bar {
    width: 100%;
  }
  .about .container .row .col .content.skills .row .bar .progress {
    width: 100%;
  }
  .about .container .row .col .content.skills .row .bar .progress-bar.html,
.about .container .row .col .content.skills .row .bar .progress-bar.javascript,
.about .container .row .col .content.skills .row .bar .progress-bar.cpp,
.about .container .row .col .content.skills .row .bar .progress-bar.nodejs,
.about .container .row .col .content.skills .row .bar .progress-bar.sass,
.about .container .row .col .content.skills .row .bar .progress-bar.codeigniter,
.about .container .row .col .content.skills .row .bar .progress-bar.php,
.about .container .row .col .content.skills .row .bar .progress-bar.mysql {
    left: -400px;
  }

  .services .container .g-wrapper .web,
.services .container .g-wrapper .linux,
.services .container .g-wrapper .networking {
    width: 60%;
  }
  .services .container .g-wrapper .web p,
.services .container .g-wrapper .linux p,
.services .container .g-wrapper .networking p {
    height: auto;
  }

  .portfolio .container .g-wrapper .projects .overlay {
    opacity: 1;
  }
  .portfolio .container .g-wrapper .projects .overlay h3,
.portfolio .container .g-wrapper .projects .overlay .type {
    text-shadow: 1px 1px 1px #666666;
  }
}

/*# sourceMappingURL=main.css.map */
