$primary: #6E3CBC;
$secondary: #7267CB;
$tertiary: #98BAE7;
$support: #B8E4F0;
$bgColor: #F6F6F6;
$darkPrimary: #3F0071;
$darkSecondary: #610094;
$darkBackground: #0C0717;
$white: #F9F9F9;
$boxServices: #FAFAFA;
$lightGray: #CCCCCC;
$fontBlack: #1E212D;
$fontGray: #666666;
