$primary: #6e3cbc;
$secondary: #7267cb;
$tertiary: #98bae7;
$support: #b8e4f0;
$bgColor: #f6f6f6;
$white: #f9f9f9;
$boxServices: #fafafa;
$lightGray: #cccccc;
$fontBlack: #1e212d;
$fontGray: #666666;
$footerCopy: #f0f0f0;
$footerColor: #999999;
$darkPrimary: #3f0071;
$darkSecondary: #610094;
$darkBackground: #202124;
