@use "mixins" as ownMixin;
@import "colors";
@import "fonts";

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  font-family: "Mukta", Helvetica, sans-serif;
  font-size: 16px;
  color: $fontBlack;
  line-height: 1.4;
  background-color: $bgColor;
}

.container {
  @include ownMixin.container(0, 13%);
  height: auto;
}

// Navbar
.navbar {
  position: absolute;
  width: 100%;
  transition: all 0.7s ease;
  z-index: 9999;
  .container {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.3s ease;
    background-color: none;
    .navbar-brand {
      color: $white;
      text-decoration: none;
      font-size: 20px;
      font-family: "Maven Pro", sans-serif;
      font-weight: 700;
    }
    .btn-toggle {
      display: none;
      user-select: none;
      opacity: 0;
    }
    ul li {
      display: inline-block;
      a {
        color: $lightGray;
        text-decoration: none;
        margin-right: 50px;
        font-weight: 500;
        transition: all 0.3s ease;
      }
      a:hover,
      a:active,
      .active {
        color: $white;
      }
    }
  }
}

.navbar-fixed {
  overflow: hidden;
  position: fixed;
  background-color: $primary;
  transition: all 0.7s ease;
  z-index: 9999;
  .container {
    height: 60px;
    transition: all 0.7s ease;
    ul li {
      .active {
        color: $white;
      }
    }
  }
}

// Jumbotron
.jumbotron {
  background-image: url("../img/jumbotron.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  .container {
    transition: all 0.6s ease;
    h1 {
      color: $white;
      font-family: "Maven Pro", sans-serif;
      font-size: 40px;
      font-weight: 700;
      padding-top: 200px;
    }
    p {
      margin-top: 25px;
      color: $white;
      width: 350px;
    }
    .links {
      a:first-child {
        @include ownMixin.btnLink(
          $white,
          $primary,
          5px,
          inline-block,
          20px,
          8px
        );
        box-shadow: 0 8px 15px rgba($fontBlack, 0.1);
        transition: all 0.3s ease;
        font-weight: 500;
      }
      a:last-child {
        @include ownMixin.btnLink(
          $primary,
          $white,
          5px,
          inline-block,
          20px,
          0,
          0,
          0,
          14px,
          40px,
          14px,
          40px
        );
        box-shadow: 0 8px 15px rgba($fontBlack, 0.1);
        transition: all 0.3s ease;
        font-weight: 500;
      }
      a:hover,
      a:active {
        box-shadow: none;
      }
    }
    .medsos {
      margin-top: 35px;
      a {
        color: $white;
        text-decoration: none;
        font-weight: 500;
        margin-right: 15px;
      }
    }
  }
  .container.show {
    @include ownMixin.slide(slideUp, 0.8s);
  }
}

// About //
.about {
  .container {
    padding-top: 100px;
    overflow: hidden;
    .row {
      display: flex;
      .col-img {
        margin-right: 30px;
        @include ownMixin.slide(slideDown, 0.8s);
        .img-about {
          width: 330px;
          height: 500px;
          border-radius: 5px;
          background-image: url("/assets/img/me.jpg");
          background-size: cover;
        }
      }
      .col-img.show {
        @include ownMixin.slide(leftToRight, 0.8s);
      }
      .col {
        @include ownMixin.slide(slideDown, 0.8s);
        h1,
        h3,
        span {
          font-family: "Maven Pro", sans-serif;
        }
        h1,
        h3 {
          color: $fontBlack;
        }
        h1 {
          font-size: 30px;
          font-weight: 700;
          margin-bottom: 25px;
        }
        p {
          color: $fontGray;
          margin-bottom: 20px;
        }
        .tabs {
          margin-bottom: 35px;
          .tab-link {
            @include ownMixin.btnLink(
              $fontGray,
              $white,
              5px,
              inline-block,
              0,
              8px,
              0,
              0,
              9px,
              22px,
              9px,
              22px
            );
            // transition: all .3s ease;
          }
          .tab-link.active {
            background-color: $secondary;
            color: $white;
            transition: all 0.3s ease;
            animation: fadeIn 0.3s ease;
          }
          @keyframes fadeIn {
            from {
              opacity: 0;
            }
            to {
              opacity: 1;
            }
          }
        }
        .content.aboutme {
          display: none;
          opacity: 1;
          transition: opacity 0.3s linear;
          .motto {
            color: $fontGray;
            font-size: 14px;
            font-style: italic;
            font-weight: 500;
            text-align: center;
          }
        }
        .content.skills {
          display: none;
          width: 100%;
          opacity: 1;
          transition: opacity 0.3s linear;
          .row {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            margin: 20px 0;
            .bar {
              margin-right: 20px;
              margin-bottom: 25px;
              position: relative;
              overflow: hidden;
              h3 {
                font-family: "Maven Pro", sans-serif;
                font-size: 16px;
                font-weight: 700;
              }
              span {
                color: $secondary;
                font-size: 16px;
                position: absolute;
                right: 0;
                top: -28px;
                opacity: 0;
                animation: fade 2s cubic-bezier(1, 0, 0.5, 1) forwards;
              }
              .progress {
                width: 190px;
                height: 5px;
                background-color: $lightGray;
                margin-top: 5px;
                border-radius: 10px;
              }
              .progress-bar.html {
                width: 95%;
                height: 5px;
                background-color: $secondary;
                margin-top: 5px;
                border-radius: 10px;
              }
              .progress-bar.javascript,
              .progress-bar.cpp,
              .progress-bar.nodejs,
              .progress-bar.sass,
              .progress-bar.codeigniter {
                width: 80%;
                height: 5px;
                background-color: $secondary;
                margin-top: 5px;
                border-radius: 10px;
              }
              .progress-bar.php,
              .progress-bar.mysql {
                width: 85%;
                height: 5px;
                background-color: $secondary;
                margin-top: 5px;
                border-radius: 10px;
              }
              .progress-bar.html,
              .progress-bar.javascript,
              .progress-bar.cpp,
              .progress-bar.nodejs,
              .progress-bar.sass,
              .progress-bar.codeigniter,
              .progress-bar.php,
              .progress-bar.mysql {
                // transform: scaleX(0);
                animation: fill-progress 1s cubic-bezier(1, 0, 0.5, 1) forwards;
                position: relative;
                left: -190px;
              }
              @keyframes fill-progress {
                100% {
                  left: 0;
                  position: none;
                }
              }
              @keyframes fade {
                100% {
                  opacity: 1;
                }
              }
            }
          }
        }
        .content.experience {
          display: none;
          opacity: 1;
          transition: opacity 0.3s linear;
          h3 {
            font-family: "Maven Pro", sans-serif;
            font-size: 20px;
            font-weight: 700;
            margin-bottom: 4px;
          }
          .date,
          .position {
            font-family: "Mukta", Helvetica, sans-serif;
            font-size: 14px;
            font-weight: 500;
            .fas {
              font-family: "Font Awesome 6 Free";
              font-weight: 900;
            }
          }
          .date {
            margin-right: 6px;
            color: $secondary;
          }
          .position {
            color: $fontGray;
          }
          p {
            margin-top: 8px;
          }
        }
        .content.show {
          display: block;
          animation: fadeIn 0.3s linear;
          transition: opacity 0.3s linear;
        }
        @keyframes fadeIn {
          from {
            opacity: 0;
          }
          to {
            opacity: 1;
          }
        }
      }
      .col.show {
        @include ownMixin.slide(rightToLeft, 0.8s);
      }
    }
  }
}

// Services //
.services {
  .container {
    padding-top: 100px;
    overflow: hidden;
    @include ownMixin.slide(slideDown, 0.8s);
    .subheading,
    h2 {
      font-family: "Maven Pro", sans-serif;
      font-weight: 700;
      text-align: center;
    }
    .subheading {
      display: block;
      color: $secondary;
      font-size: 16px;
      margin-bottom: 8px;
      text-transform: uppercase;
    }
    h2 {
      display: block;
      color: $fontBlack;
      font-size: 32px;
      width: 560px;
      margin: 0 auto;
    }
    .g-wrapper {
      margin-top: 60px;
      display: grid;
      grid-template-columns: repeat(3, auto);
      gap: 0.6em;
      .web,
      .linux,
      .networking {
        background-color: $boxServices;
        width: 100%;
        height: auto;
        padding: 40px;
        .icons {
          background-color: $secondary;
          width: 45px;
          height: 45px;
          border-radius: 3px;
          display: flex;
          justify-content: center;
          align-items: center;
          .fas,
          .fab {
            font-size: 20px;
            color: $white;
          }
        }
        h3 {
          font-family: "Maven Pro", sans-serif;
          color: $secondary;
          font-size: 20px;
          font-weight: 700;
          margin-top: 10px;
          margin-bottom: 16px;
        }
        p {
          color: $fontGray;
          height: 200px;
        }
        a {
          color: $secondary;
          text-decoration: none;
          display: inline-block;
          display: none;
          span {
            margin-left: 5px;
          }
        }
      }
    }
    .contact-me {
      color: $fontGray;
      font-weight: 700;
      font-size: 16px;
      display: block;
      text-align: center;
      margin-top: 50px;
      margin-bottom: 12px;
      a {
        color: $secondary;
        text-decoration: none;
        font-weight: 700;
        font-size: 16px;
      }
    }
    .tagline {
      color: $fontGray;
      text-align: center;
    }
  }
  .container.show {
    @include ownMixin.slide(slideUp, 0.8s);
  }
}

// Counter //
.counter {
  margin-top: 100px;
  background-image: url("/assets/img/overlay.jpg");
  background-size: cover;
  height: 250px;
  .overlay {
    background-color: $secondary;
    height: 250px;
    opacity: 0.9;
    .container {
      @include ownMixin.slide(slideDown, 0.8s);
      margin: 0;
      width: 100%;
      height: 250px;
      .count-wrapper {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: 250px;
        .count {
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          .fas {
            color: $white;
            font-size: 38px;
            margin-right: 15px;
            float: left;
          }
          .countup,
          .caption {
            flex-direction: column;
            font-family: "Maven Pro", sans-serif;
            text-transform: uppercase;
            font-weight: 700;
            color: $white;
          }
          .countup {
            font-size: 34px;
          }
        }
      }
    }
    .container.show {
      @include ownMixin.slide(fadeScale, 0.8s);
    }
  }
}

// Portfolio //
.portfolio {
  .container {
    @include ownMixin.slide(slideDown, 0.8s);
    padding-top: 100px;
    .subheading,
    h2 {
      font-family: "Maven Pro", sans-serif;
      font-weight: 700;
      text-align: center;
    }
    .subheading {
      display: block;
      color: $secondary;
      margin-bottom: 8px;
      text-transform: uppercase;
    }
    h2 {
      color: $fontBlack;
      font-size: 32px;
      margin-bottom: 40px;
    }
    .g-wrapper {
      display: grid;
      grid-template-columns: repeat(2, auto);
      gap: 1em;
      .projects {
        background-size: cover;
        border-radius: 5px;
        width: 100%;
        height: 350px;
        border-radius: 5px;
        .overlay {
          width: 100%;
          height: 350px;
          border-radius: 5px;
          opacity: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          transition: all 0.3s ease;
          h3,
          .type {
            font-family: "Maven Pro", sans-serif;
            font-weight: 500;
            color: $white;
            opacity: 1;
          }
          h3 {
            font-size: 20px;
            margin-bottom: 12px;
          }
          .type {
            text-transform: uppercase;
          }
          .links-wrapper {
            margin-top: 30px;
            .row {
              display: flex;
              justify-content: space-evenly;
              align-items: center;
              .col {
                .btn-demo {
                  @include ownMixin.btnLink(
                    $white,
                    $primary,
                    3px,
                    inline-block,
                    0,
                    12px,
                    0,
                    0,
                    4px,
                    14px,
                    4px,
                    14px
                  );
                  box-shadow: 0 8px 15px rgba($fontBlack, 0.1);
                  transition: all 0.3s ease;
                }
                .btn-repo {
                  @include ownMixin.btnLink(
                    $primary,
                    $white,
                    3px,
                    inline-block,
                    0,
                    0,
                    0,
                    0,
                    4px,
                    14px,
                    4px,
                    14px
                  );
                  box-shadow: 0 8px 15px rgba($fontBlack, 0.1);
                  transition: all 0.3s ease;
                }
                .btn-demo:hover,
                .btn-repo:hover,
                .btn-demo:active,
                .btn-repo:active {
                  box-shadow: none;
                  transition: all 0.3s ease;
                }
              }
            }
          }
        }
      }
      .projects:hover,
      .projects:active {
        .overlay {
          opacity: 1;
          background-color: rgba($secondary, 0.9);
          transition: all 0.3s ease;
        }
      }
    }
  }
  .container.show {
    @include ownMixin.slide(slideUp, 0.8s);
  }
}

// Blog //
.blog {
  .container {
    @include ownMixin.slide(slideDown, 0.8s);
    padding-top: 100px;
    .subheading,
    h2 {
      font-family: "Maven Pro", sans-serif;
      font-weight: 700;
      text-align: center;
    }
    .subheading {
      display: block;
      color: $secondary;
      margin-bottom: 8px;
      text-transform: uppercase;
    }
    h2 {
      color: $fontBlack;
      font-size: 32px;
      margin-bottom: 40px;
    }
    .g-wrapper {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1em;
      .posts-card {
        border-radius: 5px;
        background-color: $white;
        padding: 20px;
        width: 100%;
        height: auto;
        box-shadow: 0 5px 15px rgba($fontBlack, 0.1);
        img {
          width: 100%;
          border-radius: 5px;
          margin-bottom: 12px;
        }
        .category {
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          row-gap: 3px;
          column-gap: 8px;
          width: 100%;
          margin-bottom: 6px;
          .item {
            display: inline-block;
            background-color: $primary;
            color: $white;
            text-decoration: none;
            width: auto;
            padding: 3px;
            border-radius: 3px;
          }
        }
        .details {
          color: $fontGray;
          font-size: 14px;
          font-weight: 700;
          display: flex;
          .fas {
            color: $secondary;
          }
          .date {
            margin-right: 8px;
          }
        }
        .blog-title {
          color: $fontBlack;
          text-decoration: none;
          display: inline-block;
          font-weight: 700;
          margin-top: 3px;
          margin-bottom: 12px;
        }
        p {
          color: $fontGray;
          margin-bottom: 15px;
        }
      }
    }
    .btn-blog {
      display: inline-block;
      margin-top: 1em;
      text-align: center;
      text-decoration: none;
      color: $secondary;
    }
  }
  .container.show {
    @include ownMixin.slide(slideUp, 0.8s);
  }
}

// Contact //
.contact {
  background-color: $white;
  .container {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    padding-top: 95px;
    margin: 80px 0 0 0;
    .g-map {
      width: 50%;
      height: 640px;
      order: 1;
    }
    .form-contact {
      width: 50%;
      margin: 0 30px;
      order: 2;
      overflow: hidden;
      h3 {
        font-family: "Maven Pro", sans-serif;
        font-size: 30px;
        font-weight: 500;
      }
      p {
        color: $fontGray;
        margin: 8px 0;
      }
      .contact-details {
        display: flex;
        justify-content: space-evenly;
        align-items: flex-start;
        .address,
        .email,
        .username {
          margin-right: 16px;
          .title {
            font-weight: 700;
            text-transform: uppercase;
          }
        }
        a {
          display: block;
          margin: 8px 0;
          text-decoration: none;
          color: $fontGray;
        }
      }
      .notification {
        height: 35px;
        display: none;
        align-items: center;
        justify-content: center;
        background-color: $secondary;
        border-bottom: 2px solid $primary;
        border-radius: 4px;
        margin-bottom: 8px;
        color: $white;
        .fas {
          margin-right: 8px;
        }
      }
      .form-wrapper {
        input,
        textarea {
          font-family: "Mukta", Helvetica, sans-serif;
          font-size: 0.9rem;
          color: $fontBlack;
          background: none;
          outline: none;
          border: 1px solid rgba($fontGray, 0.3);
          background-color: $white;
          padding: 5px;
          display: block;
          width: 100%;
          margin: 5px 0;
          border-radius: 3px;
          transition: all 0.2s ease-out;
        }
        textarea {
          margin: 10px 0;
          height: 160px;
          resize: none;
        }
        input:focus,
        textarea:focus {
          transition: all 0.2s ease-out;
          border: 1px solid rgba($secondary, 1);
        }
        .form-flex {
          .row {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            .col:nth-child(1) {
              margin-right: 24px;
            }
            .col {
              width: 50%;
              input {
                display: block;
                width: 100%;
              }
            }
          }
        }
        button {
          outline: none;
          background: none;
          border: none;
          font-family: "Mukta", Helvetica, sans-serif;
          font-size: 16px;
          @include ownMixin.btnLink(
            $white,
            $primary,
            5px,
            inline-block,
            0,
            0,
            0,
            0,
            9px,
            12px,
            9px,
            12px
          );
        }
        button.disable {
          background-color: $tertiary;
        }
        button:hover,
        button:active {
          cursor: pointer;
        }
      }
      .notification.show {
        display: flex;
        @include ownMixin.slide(fadeScale, 0.8s);
      }
    }
    .flw-sosmed {
      margin-top: 60px;
      a {
        color: $secondary;
        margin: 0 4px;
      }
    }
  }
}

// Footer Intro //
.f-intro {
  .container {
    margin: 0;
    .overlay {
      background-color: $secondary;
      width: 100%;
      height: 150px;
      .row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        margin: 0 250px;
        .col {
          h2,
          p {
            color: $white;
          }
          h2 {
            font-size: 30px;
            font-family: "Maven Pro", sans-serif;
            font-weight: 700;
          }
          p {
            font-family: "Mukta", Helvetica, sans-serif;
            margin-top: 0.6em;
          }
          a {
            @include ownMixin.btnLink(
              $white,
              none,
              5px,
              inline-block,
              0,
              0,
              0,
              0,
              9px,
              60px,
              9px,
              60px
            );
            border: 1px solid $white;
            box-shadow: 0 8px 15px rgba($fontBlack, 0.1);
            transition: all 0.3s ease;
            font-weight: 500;
          }
          a:hover,
          a:active {
            background-color: $white;
            color: $secondary;
            transition: all 0.3s ease;
            box-shadow: none;
          }
        }
      }
    }
  }
}

// Footer //
.footer {
  .container {
    .g-wrapper {
      margin-top: 120px;
      display: grid;
      grid-template-columns: repeat(3, auto);
      justify-content: space-between;
      h2 {
        font-family: "Maven Pro", sans-serif;
        color: $fontBlack;
        font-size: 22px;
        font-weight: 700;
        margin-bottom: 20px;
      }
      .f-about {
        .link-brand {
          font-family: "Maven Pro", sans-serif;
          color: $fontBlack;
          font-size: 22px;
          font-weight: 700;
          text-decoration: none;
          display: inline-block;
          margin-bottom: 20px;
        }
        p {
          color: $fontGray;
          width: 250px;
        }
        .row {
          display: flex;
          gap: 1em;
          justify-content: flex-start;
          align-items: flex-start;
          margin: 10px 0;
          .col {
            width: 40px;
            a {
              text-align: center;
              width: 50px;
              height: 50px;
              line-height: 50px;
              display: inline-block;
              // padding: 10px;
              border-radius: 50px;
              background-color: $primary;
              color: $white;
            }
          }
        }
      }
      .f-services {
        li {
          margin: 8px 0;
          a {
            color: $fontGray;
            text-decoration: none;
            .fas {
              color: $secondary;
              margin-right: 8px;
              font-size: 10px;
            }
          }
        }
      }
      .f-questions {
        li {
          margin: 8px 0;
          color: $fontGray;
          width: 250px;
          .fas {
            color: $secondary;
            margin-right: 8px;
          }
          a {
            color: $fontGray;
            text-decoration: none;
          }
        }
      }
    }
  }
  .copyright {
    width: 100%;
    height: 100px;
    margin-top: 50px;
    background-color: $footerCopy;
    text-align: center;
    line-height: 100px;
    span {
      color: $footerColor;
      .love {
        text-decoration: none;
        color: indianred;
        transition: all 0.3s ease;
      }
    }
  }
  .copyright:hover,
  .copyright:active {
    .love {
      color: palevioletred;
      transition: all 0.3s ease;
    }
  }
}

body.dark {
  color: $white;
  background-color: $darkBackground;
  // Navbar Dark //
  .navbar-fixed {
    background-color: $darkPrimary;
  }
  // Jumbotron Dark //
  .jumbotron {
    background-image: url("/assets/img/jumbotron_dark.jpg");
    .links {
      a:first-child {
        background-color: $darkPrimary;
      }
      a:last-child {
        background-color: $bgColor;
      }
    }
  }
  // About Dark //
  .about {
    .container {
      .col {
        h1,
        h3 {
          color: $bgColor;
        }
        .tabs {
          .tab-link {
            background-color: $fontBlack;
          }
          .tab-link.active {
            background-color: $darkSecondary;
          }
        }
        .content.skills {
          .row {
            .bar {
              span {
                color: $darkSecondary;
              }
              .progress-bar.html,
              .progress-bar.javascript,
              .progress-bar.cpp,
              .progress-bar.nodejs,
              .progress-bar.sass,
              .progress-bar.codeigniter,
              .progress-bar.php,
              .progress-bar.mysql {
                background-color: $darkSecondary;
              }
            }
          }
        }
        .content.experience {
          .date {
            color: $darkSecondary;
          }
        }
      }
    }
  }
  // Services Dark //
  .services {
    .container {
      .subheading {
        color: $darkSecondary;
      }
      h2 {
        color: $bgColor;
      }
      .g-wrapper {
        .web,
        .linux,
        .networking {
          background-color: $fontBlack;
          .icons {
            background-color: $darkSecondary;
            .fas,
            .fab {
              color: $bgColor;
            }
          }
          h3 {
            color: $darkSecondary;
          }
          a {
            color: $darkSecondary;
          }
        }
      }
      .contact-me {
        a {
          color: $darkSecondary;
        }
      }
    }
  }
  // Counter Dark //
  .counter {
    .overlay {
      background-color: $darkSecondary;
    }
  }
  // Portfolio Dark //
  .portfolio {
    .container {
      .subheading {
        color: $darkSecondary;
      }
      h2 {
        color: $bgColor;
      }
      .g-wrapper {
        .projects {
          .overlay {
            .links-wrapper {
              .row {
                .col {
                  .btn-demo {
                    background-color: $darkPrimary;
                  }
                  .btn-repo {
                    color: $darkPrimary;
                  }
                }
              }
            }
          }
        }
        .projects:hover,
        .projects:active {
          .overlay {
            background-color: rgba($darkSecondary, 0.9);
          }
        }
      }
    }
  }
  // Blog Dark //
  .blog {
    .container {
      .subheading {
        color: $darkSecondary;
      }
      h2 {
        color: $bgColor;
      }
      .g-wrapper {
        .posts-card {
          background-color: $fontBlack;
          .category {
            .item {
              background-color: $darkPrimary;
            }
          }
          .details {
            .fas {
              color: $darkSecondary;
            }
          }
          .blog-title {
            color: $bgColor;
          }
        }
      }
      .btn-blog {
        color: $darkSecondary;
      }
    }
  }
  // Contact Dark //
  .contact {
    background-color: $fontBlack;
    .container {
      .form-contact {
        .notification {
          background-color: $darkSecondary;
          border-bottom: 2px solid $darkPrimary;
        }
        .form-wrapper {
          input,
          textarea {
            color: $bgColor;
            background-color: $fontBlack;
          }
          input:focus,
          textarea:focus {
            transition: all 0.2s ease-out;
            border: 1px solid rgba($darkSecondary, 1);
          }
          button {
            background-color: $darkSecondary;
          }
          button.disable {
            background-color: $primary;
          }
        }
        .notification.show {
          display: flex;
          @include ownMixin.slide(fadeScale, 0.8s);
        }
      }
      .flw-sosmed {
        a {
          color: $darkSecondary;
        }
      }
    }
  }
  // Footer Intro Dark //
  .f-intro {
    .container {
      .overlay {
        background-color: $darkSecondary;
        .row {
          a:hover,
          a:active {
            color: $darkSecondary;
          }
        }
      }
    }
  }
  // Footer Dark //
  .footer {
    .container {
      .g-wrapper {
        h2 {
          color: $bgColor;
        }
        .f-about {
          .link-brand {
            color: $bgColor;
          }
          .row {
            .col {
              a {
                background-color: $darkPrimary;
                color: $white;
              }
            }
          }
        }
        .f-services {
          li {
            a {
              .fas {
                color: $darkSecondary;
              }
            }
          }
        }
        .f-questions {
          li {
            .fas {
              color: $darkSecondary;
            }
          }
        }
      }
    }
    .copyright {
      background-color: $fontBlack;
      span {
        color: $footerColor;
        .love {
          text-decoration: none;
          color: indianred;
          transition: all 0.3s ease;
        }
      }
    }
  }
}
